DB_NAME=hygiatradedb
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5433

PORT=10000
ASPNETCORE_ENVIRONMENT=Development

EMAIL__DELIVERYMODE=Console
EMAIL__SENDEREMAIL=noreply@hygiatrade.local
EMAIL__SENDERNAME=HygiaTrade
EMAIL__RESENDAPIKEY=
EMAIL__CONTACTRECIPIENTEMAIL=higiatrade@abv.bg
EMAIL__PASSWORDRESETTOKENEXPIRYMINUTES=30

DEEPL_API_KEY=
DEEPL_API_URL=https://api-free.deepl.com